.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 94vh;
  padding: 50px;
}

.dropdown {
  margin-bottom: 50px;
}

.contents-table {
  position: relative;
}

.my-loader {
  width: 5rem;
  height: 5rem;
}
