.ProjectPicker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0px 50px 0px;
}

.projectContainer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.mainChart {
  display: flex;
}
