nav {
  background-color: #ffff;
  list-style-type: none;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding-right: 40px;
  text-align: right;
}

.navbar-container {
  margin-right: 20px;
  margin-left: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-container li {
  display: inline-block;
  font-size: 170%;
  padding: 20px;
}

ul #navbar-right {
  align-items: flex-end;
}

.nav-link a {
  color: #001eff !important;
}
